[Unit]
Description=MQTT Logger
#After=network.target
After=mosquitto

[Service]
ExecStart=/usr/bin/mosquitto_sub -v -t '#' 
WorkingDirectory=/home/pi/IoTitan
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mqtt_logger
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
